@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

.footer {
  width: 100%;
  border-top: 1px solid $slate-800;
  background-color: $surface-darker;
  padding: $spacing-xl 0;

  &__container {
    padding: 0 $spacing-md;
    display: flex;
    justify-content: center;
    width: 100%;

    @include respond-to('md') {
      padding: 0 2.5rem;
    }

    @include respond-to('lg') {
      padding: 0 10rem;
    }
  }

  &__content {
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-md;

    @include respond-to('md') {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__copyright {
    color: $text-secondary;
    font-size: $font-size-sm;
  }

  &__social {
    display: flex;
    gap: $spacing-md;
  }

  &__social-link {
    color: $text-secondary;
    transition: color $transition-base;

    &:hover {
      color: $text-primary;
    }
  }

  &__social-icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: currentColor;
  }
}
